.list {
    height:0.68rem;
    line-height: 0.68rem;
    font-size: 0.4rem;
    padding:0.09rem 0;
    border-bottom: .01rem solid #d9d9d9;
    display: flex;
}
.list:last-of-type {
    border-bottom:none;
}
.list .list_logo_wrap {
    width:0.5rem;
    height:.5rem;
    border-radius: .04rem;
    background: #dcdfe1;
    overflow: hidden;
    flex-grow: 0;
}
.list .list_logo_wrap img {
    width:100%;
    height:100%;
}
.list .list_text_wrap {
    flex-grow: 1;
    padding:0 0.1rem;
}
.list .list_text_wrap .list_title {
    height: 0.28rem;
    line-height: 0.28rem;
    font-size: .16rem;
}
.list .list_text_wrap .list_title .list_time {
    font-size: 0.11rem;
    color:#b2b2b2;
    float:right;
}
.list .list_text_wrap .list_content {
    font-size: 0.13rem;
    height:.22rem;
    line-height: .22rem;
    color:#9b9b9b;
}